<%= form_for @chat_message, remote: true do |f| %>
  <div style="display:none">
    <%= hidden_field_tag :socket_id %>
  </div>

  <!--<div>  
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>-->

  <div>
    <% f.label :"Chat: " %>
    <%= f.text_field :message, {:size => 16, :placeholder => "Chat here..."}  %>
  </div>

<% end %>


<p class="chat_messages"></p>
